/* Disqus button */
#disqus-button {
    padding: 1rem;
    width: 100%;
    background-color: #fff;
    margin-top: 2rem;
    border: 2px solid #888;
    font-size: 1rem;
    font-weight: bold;
}
#disqus-button:hover {
    background-color: #bbe1ff;
}
