blockquote {
    border-radius: 0.5rem;
    font-family: var(--font);
    font-style: italic;
    padding: 1rem 1rem 1rem 3rem;
    border-left: 8px solid var(--bg);
    position: relative;
    background: rgba(0, 0, 0, 0.05);
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}
blockquote::before {
    content: "\201C";
    color:  var(--header-text);
    font-size: 4em;
    position: absolute;
    left: 0.2rem;
    top: -1rem;
}
blockquote::after {
    content: "";
}
blockquote span {
    display: block;
    color:  var(--header-text);
    font-style: normal;
    font-weight: bold;
    margin-top: 0.25rem;
}
