{{ define "main" }}
<div class="wrap content">
    
    <article class="post_content">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column">
            <div class="my-auto">
                <h3>Search for posts</h3>
                <form action="{{ "search" | absURL }}">
                    <input id="search-query" name="s" />
                </form>
                <div id="search-results">
                    
                </div>
            </div>
        </section>
        <!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
        <script id="search-result-template" type="text/x-js-template">
            <div id="summary-${key}">
              <h4><a href="${link}">${title}</a></h4>
              <p>${snippet}</p>
              <!-- <p>${score}</p> -->
              <p>
              ${ isset tags }<b>Tags:</b> ${tags}, ${ end }
              ${ isset categories }<b>Categories:</b> ${categories}${ end }
            </p>
            </div>
        </script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
        <script src="{{ "js/search.js" | absURL }}"></script>
    </article>
</div>
<style>
    #search-query {
        padding: 0.2rem 1rem;
        width: 30rem;
        max-width: 100%;
    }
</style>
{{ end }}