{{ define "main" }}
<div class="wrap content">
    
    <article class="post_content">
        <section class="resume-section p-3 p-lg-5 d-flex flex-column">
            <div class="my-auto">
                <h3>Search for posts</h3>
                <form action="{{ "search" | absURL }}">
                    <input id="search-query" name="s" />
                    <button id="search-btn" type="submit">Search</button>
                </form>
                <div id="search-results">
                </div>
            </div>
        </section>
        <!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
        <script id="search-result-template" type="text/x-js-template">
            <div id="summary-${key}">
              <h4><a href="${link}">${title}</a></h4>
              <p>${snippet}</p>
              <!-- <p>${score}</p> -->
              <p>
              ${ isset tags }<b>Tags:</b> ${tags}, ${ end }
              ${ isset categories }<b>Categories:</b> ${categories}${ end }
            </p>
            </div>
        </script>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/fuse.js@3.4.0/dist/fuse.min.js" integrity="sha256-44iNtFp2C5YlmyyW9jdvQCHcdW+p33YepLWSYV3TmY0=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/mark.js@8.11.1/dist/jquery.mark.min.js" integrity="sha256-4HLtjeVgH0eIB3aZ9mLYF6E8oU5chNdjU6p6rrXpl9U=" crossorigin="anonymous"></script>
        <script src="{{ "js/search.js" | absURL }}"></script>
    </article>
</div>
<style>
    #search-query {
        width: 30rem;
        max-width: 100%;
    }
</style>
{{ end }}