{{- define "main" }}
{{- $scratch := newScratch }}
{{- if isset .Params "image" }}
  {{- $scratch.Set "image" .Params.image }}
{{- else }}
  {{ $scratch.Set "image" .Site.Params.fallBackOgImage }}
{{- end }}
{{- $image := $scratch.Get "image" }}
{{- $bg := (path.Join "images" $image | absLangURL) }}

<div class="{{ if .Params.toc }}grid-inverse{{- else }}centerize-div{{ end }} wrap content">
  <article class="post_content">
    {{- partial "i18nlist" . }}
    <h1 class="post_title">{{ .Title }}</h1>
    {{- partial "post-meta" . }}
    {{ partial "share" . }}
    {{ with .Params.featureImage }}
    <img src="{{ . }}" class="image_featured">
    {{ end }}
    <div class="js-toc-content">
    {{- .Content }}
    </div>
    {{ if and ( ne .Site.Params.comment false ) ( ne .Params.comment false ) }}
      {{ partial "comments" . }}
    {{ end }}
    {{ if eq .Type "post" }}
    {{ partial "related-posts" . }}
    {{ end }}
  </article>

  {{ if .Params.toc }}
  <aside class="sidebar">
    <section class="sidebar_inner">
      
      <div class="sticky-toc">
        <h3>Table of Contents</h3>
        <div class="js-toc"></div>
      </div>
      
      <!-- {{ .TableOfContents }} -->
    </section>
  </aside>
  {{ end }}

</div>
{{- end }}
