{{- if .Params.math }}
<script>
    window.MathJax = {
      tex: {inlineMath: [['$', '$']]},
      options: {
        enableMenu: true,          // set to false to disable the menu
      }
    };
</script>
<script async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js"></script>
<style>
  mjx-container.MathJax[display="inline"] {
    font-size: 150%!important;
  }
  mjx-container.MathJax[display="true"] {
    text-align: left !important;
  }
  @media screen and (min-width: 600px) {
    mjx-container.MathJax[display="true"] {
      padding-left: 2rem;
    }
  }
</style>
{{- end }}